@use '../../styles/_variables' as *;

.aboutContainer {
  width: 100%;
  max-width: 1180px;
  height: auto;
  margin: 0 auto 96px;
  padding-top: 100px;

  article {
    padding-bottom: 96px;
  }

  h2 {
    font-family: $font-body;
    font-size: $font-size-2xl;
    font-weight: bold;
    margin-bottom: 2.4rem;
  }

  p {
    font-family: $font-body;
    font-size: $font-size-md;
    font-weight: 400;
  }

  .titleContainer {
    width: 100%;
    height: auto;

    h1 {
      top: 24px;
      left: 0;
      font-family: $font-body;
      font-size: $font-size-3xl;
      font-weight: bold;
      z-index: 10;
    }
  }

  .greeting {
    display: flex;
    gap: 48px;
    padding-top: 48px;

    .imgBox {
      width: 100%;
      max-width: 550px;
      height: 350px;
      overflow: hidden;
      border-bottom-right-radius: 24px;
      border: 1px solid $color-light-gray;

      .greetingImage {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .greetingTextContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      
      .greetingTitle {
        margin-bottom: 24px;
        font-family: $font-body;
        font-size: $font-size-2xl;
        font-weight: bold !important;
        line-height: 4.8rem;
        color: $color-primary;
      }
  
      .greetingText {     
        font-size: $font-size-base;
        line-height: 2.8rem;
        word-break: break-all;
      }
    }
  }

  .overview {
    h2 {
      font-family: $font-body;
      font-size: $font-size-2xl;
      font-weight: bold;
      margin-bottom: 48px;
    }

    ul {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2.4rem;

      li {
        align-content: center;
        height: auto;
        border: 1px solid $color-light-gray;
        border-radius: 4px;
        padding: 4rem;
        
        .icon {
          color: $color-primary;
        }

        & p:nth-child(2) {
          font-weight: 700;
          margin-top: 1.6rem;
          // color: $color-primary;
        }
        & p:nth-child(3) {
          font-size: $font-size-base;
        }
      }
    }
  }

  .partners {
    overflow: hidden;
    width: 100%;
    // padding: 0;

    ul {
      display: flex;
      animation: scroll 50s linear infinite;
      width: max-content;

      .slide {
        width: 20%;
        padding: 16px 40px;

        img {
          height: 40px;
          object-fit: contain;
          filter: grayscale(100%) opacity(0.2);
        }
      }
    }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  }

  .certificates {
    ul {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2.4rem;

      li {
        border: 1px solid $color-light-gray;
        border-radius: 8px;

        img {
          object-fit: contain;
          border-radius: 8px;
        }
      }
    }
  }

  .location {
    width: 100%;
    height: auto;
    padding: 0;
    box-sizing: border-box;

    .locationInfo {
      p {
        text-align: right;
        font-size: $font-size-base;
      }
    }

    .kakaoMap {
      width: 100% !important;
      height: 500px !important;
      border-radius: 4px;
      border: 1px solid $color-light-gray;
      background-color: #f5f5f5;
      margin-top: 3.2rem;
      box-sizing: border-box;
    }

    .mapLabel {
      position: relative;
      top: -50px;
      background-color: #ffffff;
      padding: 6px 12px;
      border-radius: 8px;
      font-size: 14px;
      font-weight: 500;
      color: #333;
      border: 1px solid #ccc;
      white-space: nowrap;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
    }
  

    .warning {
      width: 100%;
      // width: calc((100% - 14.4rem) / 4 * 3 + 9.6rem);
      margin-top: 12px;
      font-size: $font-size-sm;
      text-align: center;
      color: rgba(51, 51, 51, 0.5)
    }
  }
}

@media (max-width: $breakpoint-pc) {
  .aboutContainer {
    padding: 96px 24px 0;
  }
}

@media (max-width: $breakpoint-tablet) {
  .aboutContainer {
    .greeting {
      flex-direction: column;
      
      .imgBox {
        width: 100%;
        height: auto;
        min-height: 300px;
      }
    }
  
    .certificates {
      ul {
        grid-template-columns: repeat(3, 1fr) !important;
      }
    }
  }

}

@media (max-width: $breakpoint-mobile) {
  .aboutContainer {
    .greeting {
      flex-direction: column;
      
      .imgBox {
        width: 100%;
        height: auto;
        min-height: 250px;
      }
    }
  
    .overview {
      ul {
        grid-template-columns: repeat(2, 1fr) !important;
    
        li {
          align-content: center;
          height: auto;
          border: 1px solid $color-light-gray;
          border-radius: 4px;
          padding: 4rem;
          
          .icon {
            color: $color-primary;
          }
    
          & p:nth-child(2) {
            font-weight: 700;
            margin-top: 1.6rem;
            // color: $color-primary;
          }
          & p:nth-child(3) {
            font-size: $font-size-base;
          }
        }
      }
    }
  
    .certificates {
      ul {
        grid-template-columns: repeat(2, 1fr) !important;
      }
    }
  }
}