@use "_variables" as *;

.contactContainer {
  width: calc(50% - 12px);
  min-height: 500px;

  h2 {
    font-family: $font-body;
    font-size: $font-size-2xl;
    font-weight: bold;
    margin-bottom: 24px;

    @media (max-width: $breakpoint-mobile) {
      font-size: $font-size-xl;
    }
  }

  .contactForm {
    display: flex;
    flex-direction: column;

    // 공통
    label {
      display: flex;
      padding: 12px;
      border-bottom: 1px solid $color-light-gray;
      border-radius: 4px;
      font-size: $font-size-sm;

      span {
        flex-grow: auto;
        flex-shrink: 0;
      }

      input {
        flex-grow: 9;
        padding-left: 12px;
      }
    }

    .message {
      flex-direction: column;
      height: 200px;

      textarea {
        padding: 12px 0;
        width: 100%;
        height: 100%;
      }
    }

    .file {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;

      .hiddenFileInput {
        display: none;
      }

      label {
        flex-basis: 100px;
        display: inline-block;
        padding: 0.6rem 0;
        border-radius: 10000px;
        outline: 1px solid #fff;
        background-color: $color-primary;
        color: #fff;
        font-size: $font-size-xs;
        text-align: center;
        cursor: pointer;

        &:hover {
          outline: 1px solid $color-primary;
          color: $color-primary;
          background-color: #fff;
        }
      }
    }

    .userInfo {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      label {
        &:nth-child(1),
        &:nth-child(2) {
          width: calc(50% - 12px);
        }

        &:nth-child(3) {
          width: 100%;
        }
      }
    }

    .submitButton {
      align-self: flex-end;
      // width: 50%;
      padding: 1.6rem 2.4rem;
      height: 48px;
      margin-top: 24px;
      border-radius: 0 0 1rem 0;
      outline: 1px solid #fff;
      background-color: $color-primary;
      font-size: $font-size-sm;
      color: #fff;
      // transition: all 0.3s;

      &:hover {
        background-color: $color-primary-600;
      }
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .contactContainer {
    width: 100%;
  }
}
