@use '../styles/variables' as *;

.footer {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 0 calc((100% - 1180px) / 2);
  width: 100%;
  background-color: $color-light-gray-bg;
  border-top: 1px solid $color-light-gray;

  .footerInner {
    display: flex;
    justify-content: space-between;
    gap: 48px;
    padding: 24px 0;

    h2 {
      display: flex;
      font-size: $font-size-xl;
      font-weight: bold;
      color: $color-gray;
    }

    .footerContents {
      width: 50%;

      nav {
        margin-bottom: 24px;

        ul {
          display: flex;
          gap: 12px;
  
          li {
            flex-basis: 1;
            a {
              font-size: $font-size-sm;
            }

            &:last-child {
              font-weight: 600;
            }
          }
        }
      }

      .addressContainer {
        display: flex;
        flex-direction: column;
        // gap: 4px;
        font-size: $font-size-sm;

        span {
          font-size: $font-size-sm;
          &::after {
            content: " ";
            margin: 0 6px;
          }
          &:last-child::after {
            content: none;
          }
        }
      }

      .copyright {
        margin-top: 24px;
        font-size: $font-size-xs;
        color: $color-gray;
      }
    }
  }
}

@media (max-width: $breakpoint-pc) {
  .footer {
    padding: 0 24px;

    .footerInner {
      flex-direction: column;

      .footerContents {
        width: 100%;
      }
    }
  }
}