@use '_reset' as *;
@use '_variables' as *;

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  background-color: $color-background;
  font-family: $font-body;
  line-height: 1.6;
  color: $color-black;
}

body {
  font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6, strong {
  font-family: $font-title;
}

@media (max-width: $breakpoint-tablet) {
  html {
    font-size: 56.25%; // 1rem = 9px
  }
}